.manage-users {
  box-shadow: 0 0 3px $theme-grey;
  > .heading {
    border-bottom: 1px dotted black;
    padding-bottom: 0.5rem;
  }
  > .manage-users__block:not(:first-child) {
    > .heading {
      display: inline-block;
    }
    > .search {
      float: right;
      letter-spacing: 1px;
      padding: $rem-half $rem-one;
      position: relative;
      right: $rem-half;
      top: $rem-one-half;
    }
    @media (max-width: $bp-sm) {
      > .heading {
        display: block;
      }
      > .search {
        float: none;
        position: static;
        margin: 0 0 $rem-one $rem-half;
      }
    }
  }
}

.manage-users__block {
  padding: $rem-one;
  > .heading {
    margin: $rem-half 0;
  }
}

.manage-users__form {
  padding: $rem-half;
  padding-left: $rem-half;
  margin-bottom: $rem-one;
  > button {
    padding: $rem-half $rem-one;
    position: relative;
    left: $rem-one;
    top: $rem-one-half;
  }
}

.manage-users__form-row {
  margin-bottom: $rem-one;
  > span {
    display: block;
    font-size: $rem-one-half + 0.3;
    letter-spacing: 1px;
    margin-bottom: $rem-half;
  }
  > input {
    letter-spacing: 1px;
    padding: $rem-one $rem-one;
    width: 70%;
    @media (max-width: $bp-md) {
      width: 90%;
    }
    @media (max-width: $bp-sm) {
      width: 90%;
    }
  }
}

.manage-users__admin-checkbox {
  margin: $rem-one 0 0 $rem-half;
  > label {
    font-size: $rem-one-half + 0.1;
  }
}

.manage-users__list {
  > input {
    padding: $rem-half;
    margin-left: $rem-half;
    margin-bottom: $rem-one;
    width: 50%;
  }

  > ul {
    height: $rem-one * 50;
    overflow: scroll;
    list-style: none;
    padding: $rem-half;

    > li {
      border-bottom: 1px dotted black;
      cursor: pointer;
      letter-spacing: 1px;
      margin-bottom: $rem-one-half;
      padding: $rem-one;
      > button {
        border: none;
        background: inherit;
      }
    }

    > li:hover {
      box-shadow: 0 1px 1px $theme-grey;
    }
  }
}
