.manage-accounts {
  box-shadow: 0 0 3px $theme-grey;
  > .heading {
    border-bottom: 1px dotted black;
    padding-bottom: 0.5rem;
  }
}

.manage-accounts__block {
  padding: $rem-one;
  > .heading {
    margin: $rem-half 0;
  }
}

.manage-accounts__form {
  padding: $rem-half;
  margin-bottom: $rem-one;
  > button {
    padding: $rem-half $rem-one;
    position: relative;
    left: $rem-one;
    top: $rem-one-half;

    & + button {
      color: black;
      margin-left: $rem-one;
    }
  }
}

.manage-accounts__form-row {
  display: inline-block;
  width: 50%;
  > span {
    font-size: $rem-one-half + 0.3;
    letter-spacing: 1px;
    margin-right: $rem-half;
  }
  > input {
    letter-spacing: 1px;
    padding: $rem-half $rem-one;
    width: 70%;
  }
  @media (max-width: $bp-md) {
    display: flex;
    padding: $rem-half;
    width: 90%;
    > span {
      display: inline-block;
      width: $rem-one * 8;
    }
    > input {
      flex: 1;
      width: 100%;
    }
  }
  @media (max-width: $bp-sm) {
    flex-direction: column;
  }
}
.manage-accounts__list {
  > input {
    padding: $rem-half;
    margin-left: $rem-half;
    margin-bottom: $rem-one;
    width: 50%;
  }

  > ul {
    height: $rem-one * 50;
    overflow: scroll;
    list-style: none;
    padding: $rem-half;

    > li {
      border-bottom: 1px dotted black;
      cursor: pointer;
      letter-spacing: 1px;
      margin-bottom: $rem-one-half;
      padding: $rem-one;
      > button {
        border: none;
        background: inherit;
      }
    }

    > li:hover {
      box-shadow: 0 1px 1px $theme-grey;
    }
  }
}
