.ticket-form {
  box-shadow: 0px 0px 1px #666;;
  margin: 2rem 1rem;
  padding: $rem-three;
  > button {
    position: relative;
    left: $rem-two-half;
    bottom: $rem-one;
  }
}

.ticket-form__block {
  display: flex;
  flex-direction: column;
  margin: $rem-three 0;
  padding: 0 $rem-one;

  > .heading-secondary {
    padding-bottom: $rem-half;
    margin-bottom: $rem-one;
  }

  > .input {
    width: 99%;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}

.ticket-form__block-row {
  align-items: flex-end;
  display: flex;
  margin: 0 auto $rem-one;
  width: 99%;
  > .input {
    flex: 1;
  }
  > .select {
    margin-right: $rem-two-half;
  }
}

.ticket-form__textarea {
  @extend .input;
  font-weight: $font-weight-avg;
  height: 14rem;
  margin-bottom: $rem-one-half;
  padding: $rem-one-half;
}