.ticket-overview {
  padding: $rem-four;
}

.ticket-overview__top {
  align-items: baseline;
  border-bottom: 1px dotted black;
  display: flex;
  justify-content: space-between;
  margin-bottom: $rem-three;
  padding-bottom: $rem-one;

  > input {
    letter-spacing: 0.7px;
    padding: $rem-half;
    width: $rem-one * 25;
  }
  @media (max-width: $bp-md) {
    border: none;
    flex-direction: column;
    margin-bottom: $rem-one-half;
    > h2 {
      margin-bottom: $rem-half;
    }
    > input {
      margin: 0 auto;
      width: 99%;
    }
  }
}

.ticket-overview__bottom {
  display: grid;
  grid-gap: $rem-two;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 $rem-one;

  @media (max-width: $bp-md) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: $bp-sm) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.ticket-overview__ticket-card {
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 0 0 4px $theme-grey;
  cursor: pointer;
  height: $rem-one * 13;
  margin: auto;
  padding: $rem-one;
  position: relative;
  width: 100%;

  &:hover {
    box-shadow: 0 0 1px $theme-grey;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    > h3 {
      font-size: $rem-two + 0.25;
      line-height: $rem-two-half;
      margin-bottom: $rem-one;
      max-width: $rem-one * 15;
    }
    > .urgency {
      border: none;
      border-radius: 0 0 3px 3px;
      height: $rem-three;
      position: relative;
      top: $rem-one * -1;
      width: $rem-one-half;
      z-index: 1;
    }
  }

  > .title {
    font-size: $rem-one-half + 0.25;
    margin-bottom: $rem-one;
    position: relative;
    top: $rem-half * -1;
  }
  > .date {
    color: $theme-grey;
    font-size: $rem-one + 0.3;
    position: absolute;
    bottom: $rem-half;
  }
}
