* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}
