.content-container {
  margin: 0 auto;
  padding: 0 $rem-one-half;
  max-width: $rem-one * 80;

  @media (max-width: $bp-sm) {
    padding: 0 $rem-half;
  }
}

.content-container-md {
  margin: 0 auto;
  max-width: $rem-one * 100;
  padding: 0 $rem-two;
  @media (max-width: $bp-sm) {
    padding: 0 $rem-half;
  }
}

.content-container-lg {
  margin: 0 auto;
  max-width: $rem-one * 110;
  padding: 0 $rem-two;
  @media (max-width: $bp-sm) {
    padding: 0 $rem-half;
  }
}

.content-innards {
  box-shadow: 0px 0px 1px $theme-grey;
  margin: 2rem 1rem;
  min-height: 90vh;
  padding: $rem-three;
}
