// Colors
$theme-green: rgb(39, 199, 139);
$theme-blue: rgb(24, 79, 125);
$theme-black: rgb(0, 0, 0);
$theme-white: #f7f7f7;
$theme-grey: #666;
$dark-grey: grey;
$off-white: #f7f7f7;
// Font Size
$font-size-xl: 3rem;
$font-size-l: 2rem;
$font-size-m: 1.6rem;
$font-size-small: 1.2rem;
// Font Weight
$font-weight-thin: 300;
$font-weight-avg: 500;
$font-weight-thick: 900;
// rem
$rem-half: 0.5rem;
$rem-one: 1rem;
$rem-one-half: 1.5rem;
$rem-two: 2rem;
$rem-two-half: 2.5rem;
$rem-three: 3rem;
$rem-three-half: 3.5rem;
$rem-four: 4rem;
$rem-four-half: 4.5rem;
$rem-five: 5rem;
// Breakpoints
$bp-med: 750px;
$bp-sm: 550px;
