body {
  color: $theme-black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $rem-one-half;
  line-height: 1.6;
}

.heading {
  font-size: $rem-three;
  font-weight: $font-weight-thick;

  &--secondary {
    font-size: $rem-two-half;
  }
}
